body {
    background-color: white;
    margin: 0px;
    text-align: center;
}
.first {
    background-color: powderblue;   
    position: relative;
    padding-top: 100px;
}
h1{
    font-family:'Sacramento', cursive;
    font-size: 5.625rem;
    margin-bottom: 0%;
    color: #66BFBF;
}
h2{
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
}
h3{
    color: #11999E
}
.footer-link{
    color: #11999E;
}

.cloud-top {
    position: absolute;
    right: 300px;
    top: 80px;
}
 .cloud-bottom {
     position: absolute;
     left: 300px;
     bottom: 300px;
   
 }
 #underline{
     text-decoration: underline;
 }
 