body {
    background-color: white;
    margin: 0px;
    text-align: center;
}
.first {
    background-color: powderblue;   
    position: relative;
    padding-top: 200px;
}



.cloud-top {
    position: absolute;
    right: 300px;
    top: 50px;
}
 .cloud-bottom {
     position: absolute;
     left: 300px;
     bottom: 300px;
   
 }
 #underline{
     text-decoration: underline;
 }
 