body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}
#title{
    background-color:#ff4c67;
    color:#fff;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color:white;
    
}
h2{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 2.5rem;
    color: white;
}
.container-fluid{
    padding: 3% 15%;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size:2.5rem;
    font-weight:bold;
}
.navbar{
    padding: 0 0 4.5rem;

}
.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
}

/* Download button */
.dowload-button{
    margin: 5% 3% 5% 0;

}
/* Title-Image */
.rot-img{
    width: 60%;
    transform: rotate(25deg);
}
/* Feature Section */
#features{
    padding: 7% 15%
}
.feature-box{
    text-align: center;
    padding:4%;

}
h3{
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    font-size:1.5rem;
}
p{
    color:#8f8f8f
}
.icon{
    color:#ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c67;
}
#testimonials{
    background-color: #ef8172;
    text-align: center;
    color: white;
}
.testinomal-img{
    width: 15%;
    border-radius: 100%;
    padding: 1rem;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 7%;
}
.logo-img{
    width: 15%;
    margin: 20px 20px 50px ;
}
.carousel-item{
    padding: 7% 15%;

}
.price-tag{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 2.5rem;
    color: black;

}
#pricing{
    padding: 8% 10%;
    text-align:center;
    
}
.card{  
    margin: 5px;
}
.sub-head {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 2.5rem;
    color: black;
}
.button-price{
    padding: 3% 20%;
}
.price-col{
    padding: 3% 5%;
}
.carousel-control-prev-icon {
  width: 20vw;
  height: 5vw;
}
.carousel-control-next-icon {
  width: 20vw;
  height: 5vw;
}